0:
  heading: 'Personal Details'
  section_id: 'personal-details'
  inputs:
    0:
      id: 'name'
      label: 'Name'
      placeholder: 'John Doe'
    1:
      id: 'summary'
      label: 'Summary'
      tag: 'textarea'
    2:
      id: 'Birthday'
      label: 'Birthday'
      placeholder: '1996-05-20'
      input_type: 'date'
1:
  heading: 'Contact Info'
  section_id: 'contact-info'
  inputs:
    0:
      id: 'phones.$'
      label: 'Phone'
      placeholder: 'Phone Number'
      validate: 'phone'
      array:
        op: 'addToSet'
        label: 'Add Phone'
    1:
      id: 'emails.$'
      label: 'E-mail address'
      validate: 'email'
      array:
        op: 'addToSet'
        label: 'Add E-mail address'
    2:
      heading: 'Address'
      section_id: 'address'
      validate:
        requires: '*'
        validate: 'osm_address'
      inputs:
        0:
          id: 'address.housenumber'
          label: 'House Number'
          validate: 'house_number'
          optional: true
          input_type: 'number'
        1:
          id: 'address.street'
          label: 'Street'
        2:
          id: 'address.city'
          label: 'City'
        3:
          id: 'address.country'
          label: 'Country'
        4:
          id: 'address.post_code'
          label: 'Post Code'
          validate: 'post_code'
2:
  heading: 'Job History'
  section_id: 'job-history'
  validate:
    requires: [3, 4]
    validate: 'dateEndGTdateStart'
  array:
    label: 'Add Experience'
    heading: 'Experience $'
    op: 'push'
  inputs:
    0:
      id: 'job.$.title'
      label: 'Job Title'
    1:
      id: 'jobs.$.employer'
      label: 'Employer'
      placeholder: 'Employer/Organisation'
    2:
      id: 'jobs.$.summary'
      label: 'Summary'
      tag: 'textarea'
    3:
      id: 'jobs.$.date_start'
      label: 'Date Start'
      validate: 'moment_date'
      input_type: 'month'
    4:
      id: 'jobs.$.date_end'
      label: 'Date Finish'
      validate: 'moment_date'
      input_type: 'month'
3:
  heading: 'Allergies'
  section_id: 'allergies'
  inputs:
    0:
      id: 'allergies.$'
      label: false
      placeholder: 'Allergy eg. Nuts, Lactose, Gluten'
      optional: true
      array:
        label: 'Add Allergy'
        op: 'addToSet'
4:
  heading: 'Clinical Notes'
  section_id: 'clinical-notes'
  array:
    label: 'Add Note'
    heading: 'Note $'
    op: 'push'
  inputs:
    0:
      id: 'clinical_notes.$.note'
      placeholder: 'Notes'
      tag: 'textarea'
    1:
      id: 'clinical_notes.$.date'
      hidden: true
      default: 'moment_now'
      validate: 'moment_date_vrecent'

# if section.heading view makes an form-section
# if input.heading view makes an sub-form
# if input.heading in input.heading view makes an sub-sub-form
# if section.array and section.heading, id is not required

# input.type defaults to text
# input.placeholder defaults to input.label
# input.validate maps to verification function

# input.array,   indicates value is an array of values
# it is illegal to have an array within an array given that it is hard to implement this in mongo.
# input.id phone.$, where dollar sign is reference to array position
# input.append.op =  push or unshift or addToSet


# if optional field can be left blank, by default requires at least 1
# if label is false don't show label
