{
  0:
    heading: 'Personal Details'
    inputs:
      0:
        id: 'name'
        label: 'Name'
        placeholder: 'John Doe'
      1:
        id: 'summary'
        label: 'Summary'
  2:
    heading: 'Contact Info'
    inputs
      0:
        id: 'phone_primary'
        label: 'Phone'
        placeholder: 'Phone Number'
        verify: 'phone'
      1:
        id: 'email'
        label: 'E-mail address'
        verify: 'email'
      2:
        heading: 'Address'
        inputs:
          0:
            id: 'address.housenumber'
            label: 'House Number'
            verify: 'house_number'
          1:
            id: 'address.city'
            label: 'City'
          2:
            id: 'address.country'
            label: 'Country'
          3:
            id: 'address.post_code'
            label: 'Post Code'
  3:
    heading: 'Job History'
    multiple: true
    add_btn:
      name: 'Add Experience'
      op: 'push'
    inputs:
      0:
        id: 'job.$.title'
        label: 'Job Title'
      1:
        id: 'job.$.employer'
        label: 'Employer'
        placeholder: 'Employer/Organisation'
      2:
        id: 'job.$.summary'
        label: 'Summary'
      3:
        id: 'job.$.start_date'
        label: 'Date Start'
        verify: 'date'
      4:
        id: 'job.$.end_date'
        label: 'Date Finish'
        verify:
  4:
    heading: 'Allergies'
    multiple: true
    optional: true
    inputs:
      0:
        id: 'allergy.$.text'
        label: false,
        placeholder: 'Allergy eg. Nuts, Lactose, Gluten'
}

# input.type defaults to text
# input.placeholder defaults to input.label
# input.verify maps to verification function

# if input.heading make an form-section
# if input.heading within input.heading make an sub-form-section
# if input.multiple && input.add_btn
#   if add_btn op can only be push or unshift
#   $ sign in input is evaluated to be a number


# if input.optional label can be left blank
# if label is false don't show label
