single_field_validation:
  # input.validate
  'name': ''
  'summary': ''
  'phones.$': 'phone'
  'emails.$': 'email'
  'address.housenumber': 'house_number'
  'address.street': ''
  'address.city': ''
  'address.country': ''
  'address.post_code': 'post_code'
  'jobs.$.employer': ''
  'jobs.$.summary': ''
  'jobs.$.date_start': 'moment_date'
  'jobs.$.summary': 'moment_date'
  'allergies.$': ''
  'clinical_notes.$.note': ''
  'clinical_notes.$.note': 'date_recent'

optional: [
  'allergies.$', 'address.housenumber'
]

multi_field_validation:
  # section.validate
  0:
    requires: [
      'jobs.$.date_start'
      'jobs.$.date_end'
    ]
    validate: 'dateEndGTdateStart'
  1:
    requires: [
      'address.housenumber'
      'address.city'
      'address.country'
      'address.post_code'
    ]
    validate: 'osm_address'
