{
  0:
    heading: 'Personal Details'
    inputs:
      0:
        id: 'name'
        label: 'Name'
        placeholder: 'John Doe'
      1:
        id: 'summary'
        label: 'Summary'
  1:
    heading: 'Contact Info'
    inputs:
      0:
        id: 'phones'
        label: 'Phone'
        placeholder: 'Phone Number'
        array:
          op: 'addToSet'
          label: 'Add Phone'
          verify: 'phone'
      1:
        id: 'email'
        label: 'E-mail address'
        array:
          op: 'addToSet'
          label: 'Add Email'
          verify: 'email'
      2:
        heading: 'Address'
        inputs:
          0:
            id: 'address.housenumber'
            label: 'House Number'
            verify: 'house_number'
          1:
            id: 'address.city'
            label: 'City'
          2:
            id: 'address.country'
            label: 'Country'
          3:
            id: 'address.post_code'
            label: 'Post Code'
  2:
    heading: 'Job History'
    array:
      label: 'Add Experience'
      heading: 'Experience $'
      op: 'push'
      verify: ['date.end>date.start']
    inputs:
      0:
        id: 'job.$.title'
        label: 'Job Title'
      1:
        id: 'job.$.employer'
        label: 'Employer'
        placeholder: 'Employer/Organisation'
      2:
        id: 'job.$.summary'
        label: 'Summary'
      3:
        id: 'job.$.date_start'
        label: 'Date Start'
        verify: 'moment_date'
      4:
        id: 'job.$.date_end'
        label: 'Date Finish'
        verify: 'moment_date'
  3:
    heading: 'Allergies'
    optional: true
    inputs:
      0:
        id: 'allergy.$'
        label: false
        array:
          label: 'Add Allergy'
          op: 'addToSet'
        placeholder: 'Allergy eg. Nuts, Lactose, Gluten'
}

# if section.heading view makes an form-section
# if input.heading view makes an sub-form
# if input.heading in input.heading view makes an sub-sub-form
# if section.array and section.heading, id is not required

# input.type defaults to text
# input.placeholder defaults to input.label
# input.verify maps to verification function

# input.array,   indicates value is an array of values
# it is illegal to have an array within an array given that it is hard to implement this in mongo.
# input.id phone.$, where dollar sign is reference to array position
# input.append.op =  push or unshift or addToSet


# if optional field can be left blank, by default requires at least 1
# if label is false don't show label
