@require 'lib/jonoreset.styl'
// TODO add source code pro
// TODO react router navigation
// TODO add viewing forms
$c_blue = #3c5ccf

body
  background-color #eee

shadow()
  box-shadow 0 0 0 1px rgba(0,0,0,.1),0 2px 3px rgba(0,0,0,.2)

.flex-center
  display flex
  justify-content center
  align-items center
.flex-gap
  flex 1

.f-sections
  @media screen and (min-width: 600px)
    margin-left 300px

h1
  padding 1rem
  text-align center
  font-size 2rem
  font-weight 300
  margin 2rem 1rem 0.5rem 2rem

.f-sections
  padding .5rem
  @media screen and (max-width: 300px)
    padding .5rem 0
  display flex
  flex-flow column
  justify-content center
  align-items center

.f-section-0
  max-width 400px
  width 100%
  margin 1rem .5rem
  @media screen and (max-width: 400px)
    margin .5rem 0
  flex-grow 1
  background-color white
  shadow()

.f-heading-0
  padding .8rem
  h2
    font-size 1.3rem
    font-weight 300

.f-heading-1
  h2
    font-size 1.2rem
    font-weight 300
    padding .8rem
  display flex
  align-items center


inputborder()
  border-bottom 2px solid #d1cfcf
  &:hover
    border-color #626cc1
  &:active
  &:focus
    border-color #171138
.f-input
  padding .5rem
  display flex
  flex-flow row wrap
  align-items center
.label
  font-weight 600
  font-size .9rem

input.input
  flex-grow 1
  inputborder()
  padding .3rem .5rem
  margin 0 .5rem

textarea.input
  border 2px solid #d1cfcf
  border-radius .2rem
  inputborder()
  max-width 100%
  width 100%
  flex-basis 100%
  padding .5rem
  margin .5rem 0

.btn-append
  border 2px solid $c_blue
  padding .5rem
  margin .5rem
  border-radius .5rem
  color $c_blue
  transition all .25s ease
  &:hover
    background-color #beccff
  &:active
    transform scale(.95)

.btn-submit
  background-color $c_blue
  padding 1rem
  margin 1rem
  border-radius .5rem
  color white
  transition all .25s ease
  &:hover
    background-color #5a75d6
  &:active
    transform scale(.95)


.btn-x
  background #e34040
  border-radius 50%
  height 2rem
  width 2rem
  margin 0 .5rem
  &:hover
    background #ff6969
  &:active
    transform scale(.95)
  color white
  shadow()

.f-heading-1
  background-color #d1dbff
.f-section-1
  @media screen and (max-width: 400px)
    margin .5rem
  margin 1rem
  shadow()

.f-submit
  width 100%
  button
    width 100%
    max-width 400px

#address input
  text-align right






.nav
  transition all .2s ease-in-out
  &.hide
    left -100%
  position fixed
  top 0
  left 0
  display flex
  height 100vh
  max-width 300px
  width 100%
  flex-flow column
  overflow scroll
  background white
  shadow()
.nav-item
  display block
  padding .8rem
  &.active
    .nav-underline
      border-color #626cc1
.nav-title
  background #eee
  font-weight 300
  font-size 1.5rem
.nav-underline
  inputborder()

.nav-toggle
  position fixed
  top .5rem
  right .5rem
  padding 1rem
  width 3rem
  height 3rem
  border-radius 50%
  z-index 1
  & > div
    font-size 2rem
  background white
  shadow()
  @media screen and (min-width: 600px)
    display none
