@require 'lib/jonoreset.styl'
// TODO add source code pro
// TODO react router navigation
// TODO add viewing forms
$c_blue = #3c5ccf

body
  background-color #eee

shadow()
  box-shadow 0 0 0 1px rgba(0,0,0,.1),0 2px 3px rgba(0,0,0,.2)

.flex-center
  display flex
  justify-content center
  align-items center
.flex-gap
  flex 1

.stage
  transition margin-left .2s ease-in-out
  &.nav-open
    @media screen and (min-width: 600px)
      margin-left 300px

h1
  padding 1rem
  text-align center
  font-size 2rem
  font-weight 300
  margin 2rem 1rem 0.5rem 2rem

.f-sections
  padding .5rem
  @media screen and (max-width: 300px)
    padding .5rem 0
  display flex
  flex-flow column
  justify-content center
  align-items center

.f-section-0
  max-width 400px
  width 100%
  margin 1rem .5rem
  @media screen and (max-width: 400px)
    margin .5rem 0
  flex-grow 1
  background-color white
  shadow()

.f-heading-0
  padding .8rem
  h2
    font-size 1.3rem
    font-weight 300

.f-heading-1
  h2
    font-size 1.2rem
    font-weight 300
    padding .8rem
  display flex
  align-items center


borderc(c1, c2, c3, bool)
  transition border-color .2s ease
  if bool
    border-bottom 2px solid c1
  &:hover
    border-color c2
  &.active
  &:active
  &:focus
    border-color c3

btn(c1 = transparent, c2, n = .95)
  transition all .25s ease
  background-color c1
  &:hover
  &:focus
    background-color c2
  &:active
    transform scale(n)
  border-radius .5rem


.f-input
  padding .5rem
  display flex
  flex-flow row wrap
  align-items center
.label
  font-weight 600
  font-size .9rem

input.input
  flex-grow 1
  borderc(#d1cfcf, #626cc1, #171138, true)
  padding .3rem .5rem
  margin 0 .5rem

textarea.input
  border 2px solid #d1cfcf
  border-radius .2rem
  borderc(#d1cfcf, #626cc1, #171138, true)
  max-width 100%
  width 100%
  flex-basis 100%
  padding .5rem
  margin .5rem 0

.btn-append
  padding .5rem
  margin .5rem
  btn(white, #beccff)
  border 2px solid $c_blue
  color $c_blue


.btn-submit
  padding 1rem
  margin 1rem
  color white
  btn($c_blue, #5a75d6)

.btn-x
  background #e34040
  border-radius 50%
  height 2rem
  width 2rem
  margin 0 .5rem
  &:hover
  &:focus
    background #ff6969
  &:active
    transform scale(.95)
  color white
  shadow()

.f-heading-1
  background-color #d1dbff
.f-section-1
  @media screen and (max-width: 400px)
    margin .5rem
  margin 1rem
  shadow()

.f-submit
  width 100%
  button
    width 100%
    max-width 400px

#address input
  text-align right






.nav
  transition all .2s ease-in-out
  &.hide
    left -100%
  position fixed
  top 0
  left 0
  z-index 1
  display flex
  height 100vh
  max-width 300px
  width 100%
  flex-flow column
  overflow scroll
  background white
  shadow()
.nav-item
  display block
  padding .8rem
  &.active
    .nav-underline
      border-color #626cc1
.nav-title
  background #eee
  font-weight 300
  font-size 1.5rem
.nav-item.nav-footer
  background #eee
  color #727272
  &:hover
  &:active
  &:focus
    color black

.nav-underline
  borderc(#d1cfcf, #626cc1, $c_blue, true)

.stage
  position relative
.nav-toggle
  position fixed
  top .5rem
  right .5rem
  width 3rem
  height 3rem
  border-radius 50%
  z-index 1
  & > div
    font-size 2rem
  background white
  &:focus
    background rgb(214, 214, 214)
  shadow()
  // @media screen and (min-width: 600px)
  //   display none


.validation-error
  width 100%
  border-bottom 2px solid black
  borderc(#fe9494, #e34040, #e34040, true)
  padding .5rem .1rem .2rem .5rem
  &-exclaim
    width: 1rem;
    height: 1rem;
    background: #e34040;
    color: white;
    border-radius: 50%;
    div
      font-weight 600
      font-size .9rem
